.main-view {
	font-family: "Lato", arial, sans-serif;
	color: #434343;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.game-view-title {
	justify-content: flex-start;
	padding-left: 25px;
	padding-top: 30px;
}

.game-view-title h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
	color: #545e69;
	font-size: 24px;
}

.game-view-result {
	justify-content: flex-start;
	padding-left: 25px;
	padding-top: 0px;
}

.game-view-result h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
	color: #545e69;
	font-size: 20px;
}

.iframe-container {
	position: relative;
	overflow: hidden;
	padding-top: 66%;
	max-width: 100%;
}

.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.iframe-container-lg {
	position: relative;
	overflow: hidden;
	padding-top: 85%;
	max-width: 100%;
}

.iframe-container-lg iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.iframe-container-md {
	position: relative;
	overflow: hidden;
	padding-top: 105%;
	max-width: 100%;
}

.iframe-container-md iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.iframe-container-sm {
	position: relative;
	overflow: hidden;
	padding-top: 123%;
	max-width: 100%;
}

.iframe-container-sm iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.iframe-container-xs {
	position: relative;
	overflow: hidden;
	padding-top: 220%;
	max-width: 100%;
}

.iframe-container-xs iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.iframe-container-s {
	position: relative;
	overflow: hidden;
	padding-top: 390%;
	max-width: 100%;
}

.iframe-container-s iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}


