.row {
	margin-left: 0px;
	margin-right: 0px;
}

.scores-view {
	background: #dae3e7;
}

.results-view {
	background: white;
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
}

.press {
	border-top: 1px solid #dae3e7;
}

.text-muted {
}

.press-release {
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.results-view:first-child {
	margin-top: 30px;
	border-style: none;
	border-width: 0em;
	border-radius: 0.25em;
	box-shadow: 1px 1px 4px 1px #bbb;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	cursor: pointer;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
}

.results-view:hover,
.results-view:focus,
.results-view:active {
	background-color: white;
	box-shadow: 0px 0px 0px 0px #dae3e7;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	cursor: pointer;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
}

.scores-view-game-results:hover,
.scores-view-game-results:focus,
.scores-view-game-results:active {
	opacity: 0.85;
}

.jumbotron {
	margin-bottom: 0px;
	padding: 0rem 0rem;
}

.scores-view-game-results:last-child .results-view {
	margin-bottom: 30px;
}

.league-rank {
	max-width: 40px;
}

.league-rank .row:nth-child(1) p {
	margin-top: 1rem;
}

.league-rank .row:nth-child(2) p {
	margin-top: 0.5rem;
}

.league-rank .row p {
	font-weight: bold;
	font-size: 14px;
}

.nfl-icon {
	max-width: 1.75em;
	max-height: 1.75em;
}

.nfl-icon:first-child {
	margin-top: 1rem;
}

.team-logo {
	max-width: 40px;
}

.team-logo .row:nth-child(2) .nfl-icon {
	margin-top: 0.75rem;
	margin-bottom: 1rem;
}

.team-name .row p {
	font-weight: bold;
}

.team-name .row:nth-child(1) p {
	margin-top: 1rem;
}

.team-name .row:nth-child(2) p {
	margin-top: 0.2rem;
}

.points,
.w-l {
	font-weight: 700;
	font-size: 16px;
}

.team-record {
	max-width: 60px;
	padding-right: 0px;
	padding-left: 0px;
}

.team-record .row:nth-child(1) p {
	margin-top: 1rem;
}

.team-record .row:nth-child(2) p {
	margin-top: 0.2rem;
}

.game-score {
	max-width: 40px;
	padding-right: 0px;
	padding-left: 0px;
}

.game-score .row:nth-child(1) p {
	margin-top: 0.75rem;
	font-size: 20px;
}

.game-score .row:nth-child(2) p {
	margin-top: -0.2rem;
	font-size: 20px;
}

.match-result {
	max-width: 150px;
	padding-left: 0px;
	padding-right: 0px;
	border-right: 1px solid #dae3e7;
}
.match-result .row {
	position: relative;
	padding-right: 20px;
	justify-content: flex-end;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

.result {
	position: absolute;
	transform: translate(-0%, 160%);
}
