.scores-view {
	background: #dae3e7;
}

.results-view {
	background: white;
	margin-left: 30px;
	margin-right: 30px;
	width: 100%;
}

.results-view:first-child {
	margin-top: 30px;
	border-style: none;
	border-width: 0em;
	border-radius: 0.3em;
	box-shadow: 1px 1px 4px 1px #bbb;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	cursor: pointer;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
}

.results-view:hover,
.results-view:focus,
.results-view:active {
	background-color: white;
	box-shadow: 0px 0px 0px 0px #dae3e7;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	cursor: pointer;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	opacity: 0.95;
}

.jumbotron {
	margin-bottom: 0px;
}

.scores-view-game-results:last-child .results-view {
	margin-bottom: 30px;
}
